<div class="main">
    <div mat-dialog-title style="display: flex; justify-content: center;">
        <h1>Login</h1>
    </div>
    <form>
        <div mat-dialog-content class="inputForm">
            
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>
                
            </div>
            
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput >
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Conform Otp</mat-label>
                    <input matInput placeholder="6 digit">
                </mat-form-field>
            </div>
           
        </div>
    
        <div mat-dialog-action style=" display: flex; gap: 99px; justify-content: center; padding: 0 25px ;">
            <button mat-raised-button mat-dialog-close style="flex: 1px;">Cancel</button>
            <button mat-raised-button color="primary" style="flex: 1px;">Submit</button>
        </div>
    </form>
</div>