<!-- Form to Generate OTP -->
<form [formGroup]="otpForm" (ngSubmit)="generateOtp()">
    <!-- <input type="email" formControlName="email" placeholder="Enter Email"> -->
    <mat-form-field appearance="outline">
        <mat-label>Your Email :</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter Email">
    </mat-form-field>
    <!-- <button type="submit">Generate OTP</button> -->
    <div mat-dialog-action style=" display: flex; gap: 99px; justify-content: center; padding: 0 25px ;">
        <button mat-raised-button color="primary" type="submit">Generate OTP</button>
    </div>
</form>

<!-- Form to Reset Password -->
<form [formGroup]="resetForm" (ngSubmit)="updatePassword()">
    <!-- <input type="email" formControlName="email" placeholder="Enter Email"> -->
    <mat-form-field appearance="outline">
        <mat-label>Email </mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter Email">
    </mat-form-field>

    <!-- <input type="text" formControlName="otp" placeholder="Enter OTP"> -->
    <mat-form-field appearance="outline">
        <mat-label>OTP </mat-label>
        <input matInput type="text" formControlName="otp" placeholder="Enter OTP">
    </mat-form-field>

    <!-- <input type="password" formControlName="newPassword" placeholder="New Password"> -->
    <mat-form-field appearance="outline">
        <mat-label>PAN Card Number:</mat-label>
        <input matInput type="email" formControlName="newPassword" placeholder="Enter newPassword">
    </mat-form-field>
    <!-- <button type="submit">Reset Password</button> -->
    <div mat-dialog-action style=" display: flex; gap: 99px; justify-content: center; padding: 0 25px ;">
        <button mat-raised-button color="primary" type="submit">Reset Password</button>
    </div>
</form>