<!-- <div class="page">
  <div class="button-container">
    <button mat-raised-button class="action-button" (click)="toggleLogin()">Allready Register/Login</button>
    <button mat-raised-button class="action-button" (click)="toggleRegister()" style="background-color: #ed0707;">Not Registered/SignUp</button>
  </div>

  <div *ngIf="showLogin" class="form-container">
    <app-login></app-login>
  </div>

  <div *ngIf="showRegister" class="form-container">
    <app-register></app-register>
  </div>
</div> -->
<mat-tab-group dynamicHeight>
  <mat-tab label="Login/Signin">
    <div class="form-container">
      <app-login></app-login>
    </div>
  </mat-tab>
  <mat-tab label="Register/SignUp">
    <div class="form-container">
      <app-register></app-register>
    </div>
  </mat-tab>
</mat-tab-group>